.col-md-4 {
    padding-top: 70px;
    float: right;
    font-size: 2em;
}

.form-horizontal {
    margin: auto;
}

.form-group {

    text-align: left;
}

.col-md-3 {
    margin-top: 2em;
}

.col-sm-4 {
    margin-top: 2em;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.col-sm-3 {
    margin-top: 2em;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.col-sm-4 input, .col-sm-4 label {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}

.col-sm-1 {
    position: relative;
    float: none;
}

.col-sm-offset-2 {

}

textarea{
    width: 100%;
    font-size: 2em;
}

p{
    font-size: 3em;
}

@media screen and (min-width: 768px){
    .col-sm-4,  #sleepover  {
        margin-top: 2em;
        margin-bottom: 2em;
        width: 33%;
        margin-left: 33%;
        text-align: center;

    }

}

@media screen and (min-width: 768px){
    #info{
        position: absolute;
        margin-left: 4em;
    }
}

.col-sm-3 p{
    font-size: 2.2em;
}

#submitbutton {
    float: none;
    margin: 0 auto;
}
